/* _________Header-Section Start_______________ */
.header {
    background-color: #262628;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    padding: 26px 0;
}
.header__menu-list {
    display: flex;
    margin: 0 -18px;
}
.header__list-item {
    padding: 0 18px;
}
.header__menu-link {
    color: #FFF;
    font-family: 'Museo Sans 500';
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}
.mega-menu {
    background-color: #262628;
    padding: 50px 0 60px;
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s all ease-in-out;
    z-index: 111;
}
.header .shop-item:hover .mega-menu{
    visibility: visible;
    opacity: 1;
}
.mega-menu .drop-down {
    display: flex;
    align-items: center;
}
.mega-menu-alpha {
    width: 76%;
}
.mega-menu__grid-wrap {
    display: flex;
    align-items: center;
}
.mega-menu-content-area{
    display: flex;
    align-items: center;
}
.mega-menu__menu-list {
    padding-right: 30px;
}
.mega-menu__title {
    color: #FFF;
    font-family: 'Museo Sans 500';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-bottom: 20px;
    cursor: pointer;
}
.mega-menu__menu-link {
    color: #FFF;
    font-family: 'Museo Sans 500';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-bottom: 14px;
    display: block;
    cursor: pointer;
}
.mega-menu__menu-list :last-child .mega-menu__menu-link{
    margin-bottom: 0;
}
.mega-menu__beta {
    width: 24%;
}
.mega-menu__inner-image{
    position: relative;
}
.mega-menu__image {
    cursor: pointer;
}
.mega-menu__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.mega-menu__image-title{
text-align: center;
font-family: 'Museo Sans 500';
font-size: 20px;
font-weight: 600;
line-height: 1.5; 
letter-spacing: 1.44px;
}
.mega-menu__image-sub-title {
    text-align: center;
    font-family: 'Museo Sans 500';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}
.header .collection-item:hover .mega-menu{
    visibility: visible;
    opacity: 1;
}
.mega-menu__collecton-image-wrap {
    max-width: 375px;
    flex: 375px;
    position: relative;
}
.mega-menu__text-position {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.mega-menu__collection-image {
    cursor: pointer;
}
.mega-menu__collection-content {
    display: flex;
    padding: 0 20px;
}
.mega-menu__collection-content :last-child{
    padding-right: 0;
}
.mega-menu.explore {
    padding: 50px 0;
    right: 0;
}
.header__list-item-explore:hover .mega-menu{
    visibility: visible;
    opacity: 1;
}
.mega-menu-explore__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -50px;
}
.mega-menu-explore__menu-list .mega-menu__list-item {
    border-right: 1px solid #fff;
    padding: 0 50px;
}
.mega-menu-explore__menu-list .mega-menu__list-item:last-child{
    border-right: unset;
} 
.mega-menu-explore__menu-list .mega-menu__menu-link{
    margin-bottom: unset;
}
.header__compony-log {
    max-width: 218px;
    flex: 218px;
}
.header .search-svg {
    margin: 0 35px 0 30px;
}
.header__inner_Svg-icon {
    display: none;
}
.header .menu-icon {
    max-width: 17px;
    flex: 17px;
    width: 100%;
}
.header .cross-icon {
    position: absolute;
    top: 26px;
    max-width: 17px;
    flex: 17px;
    width: 100%;
    display: none;
}
.header .cross-icon path {
    stroke: #fff;
    fill: #fff;
}
.header__drop-down {
    width: 50%;
    position: absolute;
    top: 64px;
    left: -100%;
    background-color: #000000;
    transition: 1s all ease-in-out;
    z-index: 111;
}
.header__accordian {
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    padding: 0 20px;
}
.header__accordian.active .accordian-menu-list {
    display: block;
}
.accordian-menu-list{
   display: none;
}
.header__accordian.active .header__accordian-minus-svg {
    display: block;
}
.header__accordian.active .header__accordian-plus-svg {
    display: none;
}
.header__accordian__item {
    padding: 20px 0;
}
.header__accordian-svg-wrap {
    position: relative;
    max-width: 8px;
    flex: 8px;
}
.header__accordian-plus-svg {
    max-width: 8px;
    flex: 8px;
    width: 100%;
}
.header__accordian-minus-svg {
    max-width: 8px;
    flex: 8px;
    min-width: 8px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.header__accordian-title {
    font-family: 'Museo Sans 500';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
}
.accordian__list-item {
    margin-bottom: 14px;
}
.accordian__menu-link {
    font-family: 'Museo Sans 500';
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.78px;
    display: block;
}
/* _________Header-Section End_______________ */
/* _________Hero-banner-Section Start_______________ */
.hero-banner {
    background-color: #262628;
    padding: 40px 0 70px;
}

.hero-banner__content {
    margin-bottom: 10px;
}
.hero-banner .title {
    color: #FFF;
    font-family: 'Museo Sans 500';
    font-size: 13px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
}
.hero-banner__alpha {
    width: 49%;
}
.swiper-slide {
    height: auto !important;
}

.Swiper2 .swiper-slide {
    margin-bottom: 10px;
}

.hero-banner__grid-image {
    display: flex;
    align-items: center;
    margin: 0 -9px;
}

.hero__banner__sub-img-wrap {
    padding: 0 9px;
    height: 100%;
    max-width: 108px;
}

.hero-banner__sub-image {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.hero-banner__image-card {
    overflow-x: hidden;
}
.hero-banner__sub-image:hover {
    border: 1px solid #FFF;
    padding: 5px;
}
.hero-banner__beta {
    width: 51%;
    padding-left: 85px;
}
.hero-banner__text-svg-wrap {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    padding-bottom: 20px;
}
.hero-banner__sub-title {
    margin-bottom: 6px;
}

span.hero-banner__price {
    display: block;
    margin-bottom: 0 !important;
}
.hero-banner__share-svg {
    max-width: 32px;
    flex: 32px;
}
.hero-banner__para {
    color: #FFF;
    font-family: 'Museo Sans 500';
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.28px;
    margin: 20px 0 30px;
}
.hero-banner__image-card-wrap {
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    border-top: 1px solid rgba(255, 255, 255, 0.50);
    padding: 16px 0;
}
.hero-banner__card-wrap {
    display: none;
}
.hero-banner__image-card-wrap.active .hero-banner__card-wrap {
    display: block;
    margin-top: 16px;
}
.hero-banner__card-size {
    cursor: pointer;
}
.hero-banner__number {
    font-family: 'Museo Sans 500';
    font-size: 13px;
    font-weight: 300;
    line-height: normal;
    max-width: 18px;
    flex: 18px;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}
.hero-banner__number:hover {
    background-color: #fff;
    color: #262628;
}
.hero-banner__title-size {
    font-family: 'Museo Sans 500';
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.28px;
    padding-left: 13px;
}
.hero-banner .plus-svg {
    max-width: 9px;
    flex: 8px;
}
.hero-banner .minus-svg {
    max-width: 9px;
    flex: 9px;
    display: none;
}
.hero-banner__image-card-wrap.active .plus-svg {
    display: none;
}
.hero-banner__image-card-wrap.active .minus-svg {
    display: block;
}
.hero-banner__svg-text .hero-banner__title-size {
    padding-left: 0;
    padding-right: 13px;
}
.hero-banner__box-wrap {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.50);
    padding: 15px;
    width: 100%;
}
.hero-banner__mini-card {
    max-width: 80px;
    height: 100%;
    width: 100%;
    margin-right: 16px;
}
.hero-banner__mini-card:last-child{
    margin-right: 0;
}
.hero-banner__box {
    border: 1px solid #fff;
    border-bottom: none;
    width: 80px;
    height: 35px;
    cursor: pointer;
}
.hero-banner__box:hover .hero-banner__box-title {
    background-color: white;
    color: #262628;
}
.hero-banner__box-title {
    color: #fff;
    font-family: 'Museo Sans 500';
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all ease-in-out 0.9s;
}
.hero-banner__card-image {
    width: 100%;
}

/* _________Hero-banner-Section End_______________ */
/* _________Video-Section Start_______________ */
.video-section .container {
    padding: 0;
}
/* _________Video-Section End_______________ */
/* _________Main-Section Start_______________ */
.main {
    background-color: #262628;
    padding: 82px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}
.main__alpha {
    width: 54%;
    padding-right: 84px;
}
.main__content {
    margin-bottom: 24px;
}
.main__title {
    margin-bottom: 24px;
}
.main__para {
    color: #FFF;
    font-family: 'Museo Sans 500';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.main__alpha .main__image {
    display: none;
}
.main__faq-accordian {
    border-top: 1px solid rgba(255, 255, 255, 0.50);
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    padding: 20px 0;
}
.main__faq-accordian-item {
    cursor: pointer;
}
.main__faq-accordian.active .main__paragraph {
    display: block;
}
.main__sub-title {
    font-family: 'Museo Sans 500';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
}
.main__svg-wrap {
    position: relative;
}
.main__plus-svg {
    max-width: 8px;
    flex: 8px;
}
.main__faq-accordian.active .main__plus-svg{
    display: none;
}
.main__minus-svg {
    max-width: 8px;
    flex: 8px;
   display: none;
}
.main__faq-accordian.active .main__minus-svg{
    display: block;
}
.main__paragraph {
    display: none;
    margin-top: 20px;
}
.main__para-wrap {
    margin-bottom: 24px;
}
.main .para-1 {
    font-weight: 600;
}
.main__beta {
    width: 46%;
}
.main__inner-image {
    height: 100%;
}
/* _________Main-Section End_______________ */
/* _________Image-Collection-Section Start_______________ */
.image-collection {
    background-color: #262628;
    padding: 60px 0;
}

.image-collection__text-wrap {
    margin-bottom: 30px;
}

.image-collection__link.color.text-transform {
    font-family: 'Museo Sans 500';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.image-collection__image-wrap {
    display: flex;
    margin: 0 -11px;
}

.image-collection__text-image {
    width: 25%;
    padding: 0 11px;
}

.image-collection__image {
    margin-bottom: 24px;
}

.image-collection .inner-title {
    text-align: center;
    font-family: 'Museo Sans 500';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
    display: block;
}

/* _________Image-Collection-Section End_______________ */
/* _________Newsletter-Section Start_______________ */
.news-letter {
    background-image: url(../images/image\ 20.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.news-letter__content-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.news-letter__sub-title {
    margin-bottom: 24px;
}

.news-letter__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.news-letter__content .search {
    border: 1px solid #fff;
    max-width: 507px;
    width: 100%;
    padding: 10px 20px;
}

.news-letter input {
    background: none;
    border: none;
    outline: none;
    font-family: 'Museo Sans 500';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1.32px;
    display: block;
    color: #fff;
    width: 100%;
}

.news-letter input::placeholder {
    color: #FFF;
}

.news-letter__btn {
    color: #262628;
    text-align: center;
    font-family: 'Museo Sans 500';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    background-color: #fff;
    padding: 13px 0;
    max-width: 151px;
    flex: 151px;
    margin-left: 6px;
}

/* _________Newsletter-Section End_______________ */
/* _________Fotter-Section Start_______________ */
.fotter {
    background-color: #262628;
    padding-top: 70px;
}

.fotter__wrapper {
    border-bottom: 1px solid #fff;
}

.fotter__content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotter__logo-image {
    max-width: 280px;
    margin-bottom: 30px;
}

.fotter__social-icon {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.fotter__svg-icon.facebook {
    max-width: 8px;
    flex: 8px;
}

.fotter__svg-icon.twiteer {
    max-width: 15px;
    flex: 15px;
}
.fotter__svg-icon.gmail {
    max-width: 21px;
    flex: 21px;
}
.fotter__svg-icon {
    max-width: 14px;
    flex: 14px;
}

ul.fotter__menu-list {
    display: flex;
    margin: 0 -15px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.fotter__list-item {
    padding: 0 15px;
    border-right: 1px solid#fff;
}
.fotter__list-item:last-child {
    border-right: unset;
}

.fotter__menu-link {
    color: #FFF;
    font-family: 'Museo Sans 500';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

/* _________Fotter-Section End_______________ */
/* _________Copy-Right-Section Start______________ */

.copy-right {
    background-color: #262628;
    padding: 30px 0;
}

.copy-right__text {
    color: #FFF;
    text-align: center;
    font-family: 'Museo Sans 500';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* _________Copy-Right-Section End_______________ */
/* _________Media Query Start_______________ */
@media screen and (max-width:1280px) {
    .mega-menu__menu-list {
        padding-right: 20px;
    }
    .mega-menu__menu-link {
        font-size: 14px;
        letter-spacing: unset;
    }
    .mega-menu__image-title {
        font-size: 18px;
    }
    .mega-menu__image-sub-title {
        font-size: 16px;
    }
    .hero-banner__beta {
        padding-left: 50px;
    }
    .hero-banner__box-wrap {
        padding: 10px;
    }
}
@media screen and (max-width:991px){
    .header__menu-list {
        margin: 0 -15px;
    }
    .header__list-item {
        margin: 0 15px;
    }
    .header__menu-link {
        font-size: 15px;
        letter-spacing: 1.10px;
    }
    .header .search-svg {
        margin: 0 30px 0 25px;
    }
    .mega-menu .drop-down {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .mega-menu-alpha {
        width: 100%;
        margin-bottom: 30px;
    }
    .mega-menu__grid-wrap {
        justify-content: space-between;
    }
    .mega-menu__menu-list {
        padding-right: 30px;
    }
    .mega-menu__menu-list.inner-list {
        padding-right: 0;
    }
    .mega-menu__menu-link {
        font-size: 15px;
    }
    .mega-menu__beta {
        width: 50%;
    }
    .mega-menu__image-title {
        font-size: 20px;
    }
    .mega-menu__image-sub-title {
        font-size: 18px;
    }
    .mega-menu.mega-collection .mega-menu__drop-down{
        align-items: center;
    }
    .mega-menu.mega-collection .mega-menu__menu-list {
        padding-right: 15px;
    }
    .mega-menu.mega-collection .mega-menu__menu-link {
        font-size: 12px;
    }
    .mega-menu.mega-collection .mega-menu__image-title {
        font-size: 17px;
    }
    .mega-menu.mega-collection .mega-menu__image-sub-title {
        font-size: 16px;
    }
    .mega-menu-explore__menu-list {
        margin: 0 -40px;
    }
    .mega-menu-explore__menu-list .mega-menu__list-item {
        padding: 0 40px;
    }
    .hero-banner__image-collection {
        flex-wrap: wrap;
    }
    .hero-banner__alpha {
        width: 100%;
        margin-bottom: 30px;
    }
    .hero-banner__beta {
        padding-left: unset;
        width: 100%;
    }
    .hero-banner__sub-title.font-1 {
        font-size: 25px;
        margin-bottom: 4px;
    }
    .hero-banner__price.font-size {
        font-size: 20px;
    }
    .main__alpha {
        padding-right: 60px;
    }
    .main__content {
        margin-bottom: 15px;
    }
    .main__title {
        font-size: 25px!important;
        margin-bottom: 15px;
    }
    .main__para {
        font-size: 14px;
    }
    .main__faq-accordian {
        padding: 15px 0;
    }
    .main__sub-title {
        font-size: 14px;
    }
    .image-collection__sub-title.font-size {
        font-size: 20px;
        margin-bottom: 4px;
    }
    .image-collection__title.font-1 {
        font-size: 25px;
    }
    .image-collection__image-wrap {
        flex-wrap: wrap;
        margin: 0 -10px -20px -10px;
    }
    .image-collection__text-image {
        width: 33.33%;
        margin-bottom: 20px;
        padding: 0 10px;
    }
    .inner-title {
        font-size: 14px;
    }
}
@media screen and (max-width:767px){
    .header{
        padding: 20px 0;
    }
    .header__inner_Svg-icon {
        display: block;
    }
    .header__menu-list {
        display: none;
    }
    .header__list-item-explore {
        display: none;
    }
    .header__compony-log {
        max-width: 168px;
        flex: 168px;
    }
    .header .search-svg {
        margin: 0 18px 0 18px;
    }
    .hero-banner {
        padding: 30px 0 60px;
    }
    .hero-banner .title {
        font-size: 10px;
    }
    .hero-banner__sub-title.font-1 {
        font-size: 19px;
    }
    .hero-banner__price.font-size {
        font-size: 16px;
    }
    .hero-banner__para {
        margin: 16px 0 24px 0;
    }
    .hero-banner__number {
        max-width: 16px;
        flex: 16px;
        min-width: 16px;
        height: 16px;
        width: 100%;
        font-size: 10px;
    }
    .hero-banner__title-size {
        font-size: 13px;
        padding-left: 10px;
    }
    .hero-banner__svg-text .hero-banner__title-size {
        padding-left: 0;
        padding-right: 10px;
    }
    .hero-banner__box-title {
        font-size: 9px;
    }
    .main{
        padding: 50px 0 0;
        border-bottom: none;
    }
    .main__alpha {
        width: 100%;
        padding-right: unset;
    }
    .main__alpha .main-image{
        display: block;
    }
    .main__beta {
        display: none;
    }
    .image-collection {
        padding: 50px 0;
    }
    .image-collection__text-wrap {
        justify-content: center;
        text-align: center;
    }
    .image-collection__sub-title.font-size {
        font-size: 16px;
    }
    .image-collection__title.font-1 {
        font-size: 19px;
    }
    .image-collection__link {
        display: none;
    }
    .image-collection__image-wrap {
        margin: 0 -7px -20px -7px;
    }
    .image-collection__text-image {
        width: 50%;
        padding: 0 7px;
    }
    .image-collection .inner-title {
        font-size: 13px;
    }
}
@media screen and (max-width:560px) {
    .header__drop-down {
        width: 100%;
    }
}
/* _________Media Query End_______________ */
